<h3>{{ _('Navigation') }}</h3>
{{ toctree(includehidden=theme_sidebar_includehidden, collapse=theme_sidebar_collapse) }}
<hr />

<h3>External links</h3>
<ul>
    <li class="toctree-l1"><a href="https://gitlab.com/woob/woob/issues">Issue Tracker</a></li>
    <li class="toctree-l1"><a href="https://gitlab.com/woob/woob/-/releases">Releases</a></li>
    <li class="toctree-l1"><a href="https://gitlab.com/woob/woob/">woob @ Gitlab</a></li>
    <li class="toctree-l1"><a href="https://pypi.org/project/woob/">woob @ PyPI</a></li>
    <p></p>
    <li class="toctree-l1"><a href="https://woob.tech">Website</a></li>
    <p></p>
    <li class="toctree-l1"><a href="ircs://irc.oftc.net/woob">#woob @ oftc.net</a></li>
    <li class="toctree-l1"><a href="https://matrix.to/#/#woob:matrix.org">#woob @ matrix.org</a></li>
</ul>
<hr />
